<!-- defualt.html -->
<!doctype html>
<html>
  <head>
    <title>EA'JAM's Calculator</title>
  </head>
  <body>
    <h1>Basic Calculator</h1>
    <p>Enter values to the nearest 0.01<p>
    <form method="post" action="/">
      <input required type="number" step="0.01" name="firstNumber">
      <select name="operation">
  		<option value="+">+</option>
		<option value="-">-</option>
  		<option value="*">x</option>
  		<option value="/">/</option>
  		<option value="^">^</option>
  		<option value="root">root</option>
  		<option value="log">log</option>
  		<option value="sin">sin</option>
  		<option value="cos">cos</option>
  		<option value="tan">tan</option>
  		<option value="sinh">sinh</option>
  		<option value="cosh">cosh</option>
  		<option value="tanh">tanh</option>
  		<option value="^ln">ln</option>
  		<option value="e^x">e^x</option>
	</select>
	<input required type="number" step="0.01" name="secondNumber"><button>=</button>
    </form>
    {{#result}}
      {{ result }}
    {{/result}}
  </body>
</html>